* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #08090a;
  font-family: 'Courier New', Courier, monospace;
  color: #c9c4b2;
  overflow: hidden;
  -webkit-font-smoothing: none;
  font-smooth: never;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -webkit-user-drag: none;
  user-select: none;
}
